@import '~node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-top: 60px;
}

.photo-card {
  width: calc((100% - 45px) / 4);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 5px;
  overflow: hidden;
  transition: box-shadow 300ms linear;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  &:hover .image {
    scale: 1.1;
  }
}

.img-wrap {
  height: 180px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  transition: scale 300ms linear;
}

.info {
  display: flex;
  justify-content: space-around;
  font-family: 'Roboto';
  font-weight: normal;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 5px;
  color: #333333;
}

.info-icon {
  fill: currentColor;
  margin: 5px 0;
}

.home-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 10;
  rotate: 180deg;
  cursor: pointer;
  transition: transform 500ms linear, opacity 500ms linear;

  &:hover {
    transform: scale(1.1);
  }

  &.hidden {
    transform: scale(0);
    opacity: 0;
    cursor: default;
  }
}

.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;

  &.hidden {
    width: 0;
    height: 0;
    padding: 0;
  }
}
